<!DOCTYPE html>
<html>
    <head>
        <title> Menu Webpage </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
        crossorigin="anonymous">

        <script   src="https://code.jquery.com/jquery-3.7.1.min.js"   
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="   
        crossorigin="anonymous"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

        <!-- Bootstrap JS (including Popper.js) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

        <style>
            .fixed-size-img {
                width: 100%; /* Make it fill the width of the card */
                height: 200px; /* Set a fixed height */
                object-fit: cover; /* Crop the image to fit the box */
            }
            .card-spacing {
                margin-right: 30px; /* Add extra spacing between the cards */
            } 

        </style>

    </head>

    <body>
        {% include 'navbar.html' %}

        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

                <h2> Appetizers </h2>

            <div class="row">
                {%for item in appetizer%}
                    
                    <div class="card mb-3 card-spacing" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-sm-4">
                                <img src='{{item.picture.url}}' class="fixed-size-img card-img-top" alt="Food picture">
                            </div>
                            <div class="col-sm-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.item }}</h5>
                                    <h6 class="card-title">{{ item.price}}$</h6>
                                    <p class="card-text">
                                        {{ item.description }}
                                        <div class="row justify-content">
                                            <div class="col-md-3">Amount</div>
                                            <div class="col-md-3">
        
                                                <select class="form-select form-select-sm" id="qty-cart">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <button type="button" data-item-id="{{ item.id }}" class="btn btn-primary add-cart ml-auto" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
                                                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                                                    </svg>
                                                    Add to cart
                                                </button>
                                            </div>
                                            
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                {% endfor %}
            </div>

            <br>
            <h2> Pasta </h2>

            <div class="row">
                {%for item in pasta%}
                    
                    <div class="card mb-3 card-spacing" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-sm-4">
                                <img src='{{item.picture.url}}' class="fixed-size-img card-img-top" alt="Food picture">
                            </div>
                            <div class="col-sm-8">

                                <div class="card-body">
                                    <h5 class="card-title">{{ item.item }}</h5>
                                    <h6 class="card-title">{{ item.price}}$</h6>
                                    <p class="card-text">
                                        {{ item.description }}
                                        <div class="row justify-content">
                                            <div class="col-md-3">Amount</div>
                                            <div class="col-md-3">
        
                                                <select class="form-select form-select-sm" id="qty-cart">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <button type="button" data-item-id="{{ item.id }}" class="btn btn-primary add-cart ml-auto" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
                                                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                                                    </svg>
                                                    Add to cart
                                                </button>
                                            </div>
                                            
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                {% endfor %}
            </div>
            <br>
            <h2> Grill </h2>

            <div class="row">
                {%for item in grill%}
                    
                    <div class="card mb-3 card-spacing" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-sm-4">
                                <img src='{{item.picture.url}}' class="fixed-size-img card-img-top" alt="Food picture">
                            </div>
                            <div class="col-sm-8">

                                <div class="card-body">
                                    <h5 class="card-title">{{ item.item }}</h5>
                                    <h6 class="card-title">{{ item.price}}$</h6>
                                    <p class="card-text">
                                        {{ item.description }}
                                        <div class="row justify-content">
                                            <div class="col-md-3">Amount</div>
                                            <div class="col-md-3">
        
                                                <select class="form-select form-select-sm" id="qty-cart">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <button type="button" data-item-id="{{ item.id }}" class="btn btn-primary add-cart ml-auto" id="bt" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
                                                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                                                    </svg>
                                                    Add to cart
                                                </button>
                                            </div>
                                            
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                    
                {% endfor %}
            </div>
            <br>
            <h2> Seafood </h2>

            <div class="row">
                {%for item in seafood%}
                    
                    <div class="card mb-3 card-spacing" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-sm-4">
                                <img src='{{item.picture.url}}' class="fixed-size-img card-img-top" alt="Food picture">
                            </div>
                            <div class="col-sm-8">

                                <div class="card-body">
                                    <h5 class="card-title">{{ item.item }}</h5>
                                    <h6 class="card-title">{{ item.price}}$</h6>
                                    <p class="card-text">
                                        {{ item.description }}
                                <div class="row justify-content">
                                    <div class="col-md-3">Amount</div>
                                    <div class="col-md-3">

                                        <select class="form-select form-select-sm" id="qty-cart">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <button type="button" data-item-id="{{ item.id }}" class="btn btn-primary add-cart ml-auto" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
                                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                                            </svg>
                                            Add to cart
                                        </button>
                                    </div>
                                    
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                {% endfor %}
            </div>
            <br>
            <h2> Dessert </h2>

            <div class="row">
                {%for item in dessert%}
                    
                    <div class="card mb-3 card-spacing" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-sm-4">
                                <img src='{{item.picture.url}}' class="fixed-size-img card-img-top" alt="Food picture">
                            </div>
                            <div class="col-lg-8">

                                <div class="card-body">
                                    <h5 class="card-title">{{ item.item }}</h5>
                                    <h6 class="card-title">{{ item.price}}$</h6>
                                    <p class="card-text">
                                        {{ item.description }}
                                    </p>
                                <div class="row justify-content">
                                    <div class="col-md-3">Amount</div>
                                    <div class="col-md-3">

                                        <select class="form-select form-select-sm" id="qty-cart">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <button type="button" data-item-id="{{ item.id }}" class="btn btn-primary add-cart ml-auto" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
                                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                                            </svg>
                                            Add to cart
                                        </button>
                                    </div>
                                    
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                {% endfor %}
            </div>

          
        </div>


    </body>
    <script>
        // --- CSRF helper (Django default cookie name is "csrftoken")
        function getCookie(name) {
          const value = `; ${document.cookie}`;
          const parts = value.split(`; ${name}=`);
          if (parts.length === 2) return parts.pop().split(';').shift();
        }
        const csrftoken = getCookie('csrftoken');
        
        // --- Utility: refresh the cart offcanvas using your cart_summary view
        async function refreshCartSummary() {
          try {
            const res = await fetch('{% url "cart:cart_summary" %}', {
              method: 'GET',
              headers: { 'X-Requested-With': 'XMLHttpRequest' }
            });
            // We expect full HTML (the template "cart/cart_summary.html")
            const html = await res.text();
            const $body = $('#offcanvasRight .offcanvas-body');
            if ($body.length) $body.html(html);
          } catch (e) {
            console.error('Failed to refresh cart summary:', e);
          }
        }
        
        // --- Utility: update the cart bubble/count in the header, if present
        function setCartQty(qty) {
          const el = document.querySelector('.cart_quantity');
          if (el != null && qty != null) el.textContent = qty;
        }
        
        $(document).ready(function () {
        
          // ADD to cart
          $(document).on('click', '.add-cart', function (e) {
            e.preventDefault();
            const $btn = $(this);
        
            // Expect data attributes on the button/card, e.g. data-menu-id="123"
            const menuId = Number($btn.data('menu-id') ?? $btn.data('item-id'));
            if (!menuId) {
              console.error('Missing data-menu-id on .add-cart');
              return;
            }
        
            // Quantity: read from a nearby select like <select id="qty-cart-{{id}}"> or any [data-role="qty"]
            const $card = $btn.closest('.card');
            let qty = 1;
            const $qtySelect = $card.find('select[id^="qty-cart"], select[data-role="qty"]');
            if ($qtySelect.length) qty = Number($qtySelect.val() || 1);
        
            // Note: optional textarea/input near the button/card (customize selector as needed)
            const note = ($card.find('textarea[name="note"], input[name="note"]').val() || '').toString();
        
            // Modifier options: collect checked inputs with data-option-id or name="modifier_options_ids[]"
            const selectedOptionIds = [];
            $card.find('[data-option-id]:checked, input[name="modifier_options_ids[]"]:checked').each(function () {
              const v = Number($(this).data('option-id') ?? $(this).val());
              if (!Number.isNaN(v)) selectedOptionIds.push(v);
            });
        
            $btn.prop('disabled', true);
        
            $.ajax({
              type: 'POST',
              url: '{% url "cart:cart_add" %}',
              headers: { 'X-CSRFToken': csrftoken },
              dataType: 'json',
              data: {
                // Your view expects these exact names:
                menu_id: menuId,
                qty: qty,
                note: note,
                // Send array form so request.POST.getlist("modifier_options_ids[]") works
                'modifier_options_ids[]': selectedOptionIds
              },
              success: async function (json) {
                if (json.ok) {
                  // Update cart bubble if your response includes count
                  if (typeof json.cart_qty !== 'undefined') setCartQty(json.cart_qty);
        
                  // Refresh the offcanvas summary HTML
                  await refreshCartSummary();
        
                  // Optionally open the offcanvas:
                  // const oc = bootstrap.Offcanvas.getOrCreateInstance('#offcanvasRight'); oc.show();
                } else {
                  console.error('Add failed:', json);
                  toastr?.error?.(json.error || 'Could not add item.');
                }
              },
              error: function (xhr) {
                console.error('ADD error', xhr.status, xhr.responseText);
                toastr?.error?.('Add to cart failed.');
              },
              complete: function () {
                $btn.prop('disabled', false);
              }
            });
          });
        
          // UPDATE line quantity in cart (expects buttons/inputs with data-line-index and a qty control)
          $(document).on('change click', '.cart-update', function (e) {
            // You can use this on a "+" / "-" button or on a quantity select
            const $el = $(this);
            const lineIndex = Number($el.data('line-index'));
            if (Number.isNaN(lineIndex)) return;
        
            // Determine the new quantity: if the control is a select/input, read its value;
            // if it's a +/- button, locate a sibling select/input.
            let newQty = Number($el.val());
            if (Number.isNaN(newQty) || !newQty) {
              const $row = $el.closest('[data-line-index]');
              const $qtyInput = $row.find('select[data-role="qty"], input[data-role="qty"]');
              newQty = Number($qtyInput.val() || 1);
            }
        
            $.ajax({
              type: 'POST',
              url: '{% url "cart:cart_update" %}',
              headers: { 'X-CSRFToken': csrftoken },
              dataType: 'json',
              data: {
                action: 'post',
                line_index: lineIndex,
                item_qty: newQty
              },
              success: async function (json) {
                if (json.ok) {
                  await refreshCartSummary();
                } else {
                  toastr?.error?.('Update failed.');
                }
              },
              error: function (xhr) {
                console.error('UPDATE error', xhr.status, xhr.responseText);
                toastr?.error?.('Update failed.');
              }
            });
          });
        
          // DELETE a line
          $(document).on('click', '.cart-delete', function (e) {
            e.preventDefault();
            const $btn = $(this);
            const lineIndex = Number($btn.data('line-index'));
            if (Number.isNaN(lineIndex)) return;
        
            $btn.prop('disabled', true);
            $.ajax({
              type: 'POST',
              url: '{% url "cart:cart_delete" %}',
              headers: { 'X-CSRFToken': csrftoken },
              dataType: 'json',
              data: {
                action: 'post',
                line_index: lineIndex
              },
              success: async function (json) {
                if (json.ok) {
                  await refreshCartSummary();
                } else {
                  toastr?.error?.('Delete failed.');
                }
              },
              error: function (xhr) {
                console.error('DELETE error', xhr.status, xhr.responseText);
                toastr?.error?.('Delete failed.');
              },
              complete: function () {
                $btn.prop('disabled', false);
              }
            });
          });
        
        });
        </script>

</html>