{# expects an `item` in context #}
<style>
  @media (max-width: 480px) {
  .card-img-top,
  .fixed-size-img,
  .canvas-images {
    height: 420px;
  }
}
</style>

<div class="card mb-3 card-spacing" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-sm-4">
      <img
        src="https://images.160maincarryout.com/cdn-cgi/image/width=640,quality=75,format=auto,fit=cover{{ item.picture.url|cut:'https://images.160maincarryout.com/menu_pics' }}"
        srcset="
          https://images.160maincarryout.com/cdn-cgi/image/width=320,quality=75,format=auto,fit=cover{{ item.picture.url|cut:'https://images.160maincarryout.com/menu_pics' }} 320w,
          https://images.160maincarryout.com/cdn-cgi/image/width=480,quality=75,format=auto,fit=cover{{ item.picture.url|cut:'https://images.160maincarryout.com/menu_pics' }} 480w,
          https://images.160maincarryout.com/cdn-cgi/image/width=640,quality=75,format=auto,fit=cover{{ item.picture.url|cut:'https://images.160maincarryout.com/menu_pics' }} 640w,
          https://images.160maincarryout.com/cdn-cgi/image/width=960,quality=75,format=auto,fit=cover{{ item.picture.url|cut:'https://images.160maincarryout.com/menu_pics' }} 960w
        "
        sizes="(max-width: 576px) 90vw, (max-width: 992px) 40vw, 320px"
        loading="lazy"
        decoding="async"
        alt="{{ item.item }}"
        class="fixed-size-img card-img-top"
      />
    </div>
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">{{ item.item }}</h5>
        <h6 class="card-title">{{ item.price }}$</h6>

        <p class="card-text">{{ item.description }}</p>

        <div class="row align-items-center g-2">
          <div class="col-auto fw-semibold">Amount</div>
          <div class="col-auto">
            <select class="form-select form-select-sm qty-cart" data-role="qty">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="col text-end">
            <button
              type="button"
              class="btn btn-primary add-cart ml-auto"
              data-item-id="{{ item.id }}"
              data-cart-add-url="{% url 'cart:cart_add' %}"
              data-modifiers-url="{% url 'menu_modifiers' item.id %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-bag-plus" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5
                         3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2
                         2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0
                         1-1-1z"/>
              </svg>
              Add to cart
            </button>
          </div>
        </div> <!-- /controls -->
      </div> <!-- /card-body -->
    </div> <!-- /col -->
  </div> <!-- /row -->
</div> <!-- /card -->